<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189060787166-om5c442rf6clfq5vu5o1i6sr0i8avsgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189060787166-om5c442rf6clfq5vu5o1i6sr0i8avsgg</string>
	<key>API_KEY</key>
	<string>AIzaSyCZXCQT_V5txJ4hrKU8aa77tYHvESjiGqw</string>
	<key>GCM_SENDER_ID</key>
	<string>189060787166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raon.sdk.zkp.sample</string>
	<key>PROJECT_ID</key>
	<string>pushtestios-d4909</string>
	<key>STORAGE_BUCKET</key>
	<string>pushtestios-d4909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189060787166:ios:22c1b7cad840fa425d4b4f</string>
</dict>
</plist>